<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dinos Are Birds</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Dinos Are Birds Game</a>
      </h1>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer class="text-muted p-5">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Group Project © Group-2 UCONN Bootcamp</p>
        <p>Thanks for visiting <a href="../../">Visit the homepage</a> or visit our <a href="https://github.com/AMHaag/dinos-are-birds" target="_blank"><i class=""></i> github repo</a>.</p>
      </div>
    </footer>
  </div>

</body>

</html>