<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dinos Are Birds</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="/stylesheet/homepage.css">
  <link rel="icon" type="image/x-icon" href="/images/favicon.png">
</head>

<body>
  <div class="wrapper">
  <!--header-->
  <header class="main-header clearfix" role="header">
    <div class="logo"><a href="/"><img src="/images/DINOS-ARE-BIRDS.png"></a></div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        <li><a href="/">Home</a></li>
        <li><a href="./profile">Profiles <i class="bi bi-person-circle"></i></a></li>
        <li><a href="/dashboard">High Scores <i class="bi bi-bullseye"></i></a></li>
        <li><a href="/#contactus">Contact Us <i class="bi bi-chat-square-text"></i></a></li>
        
        {{#if loggedIn}}
            <li id="logout"><a href="#">Logout <i class="bi bi-door-closed"></i></a></li>
        {{else}}
          <li><a href="/login">Login <i class="bi bi-box-arrow-in-right"></i></a></li>
        {{/if}}

      </ul>
    </nav>
  </header>
    <main>
      {{{ body }}}
    </main>
    <footer class="text-muted p-5">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Group Project © Group-2 UCONN Bootcamp</p>
        <p>Thanks for visiting <a href="../../">Visit the homepage</a> or visit our <a href="https://github.com/AMHaag/dinos-are-birds" target="_blank"><i class=""></i> github repo</a>.</p>
      </div>
    </footer>
  </div>

    {{#if loggedIn}}
         <script src="/javascript/logout.js"></script>
    {{/if}}

</body>

</html>