.game {
    width: 600px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
    margin-top: 40px;
    border-bottom: 2px solid #906010;
    margin-bottom: 10px;
    background-image: linear-gradient(180deg, rgba(137,185,254,1) 0%, rgba(161,232,252,1) 38%, rgba(208,250,255,0.9) 100%);
}

#dino {
    width:50px;
    height: 50px;
    background-image: url('../images/Cassowary.gif');
    background-size: 50px 50px;

    position: relative;
    top: 150px;
}

.jump {
    animation: jump 0.4s;
}

@keyframes jump {
    0% {
        top: 150px;
    }
    10% {
        top: 120px;
    }
    20% {
        top: 100px;
    }
    30% {
        top: 85px;
    }
    40% {
       top: 70px;
    }
    50% {
        top: 60px;
    }
    60% {
        top:70px;
    }
    70% {
        top:85px;
    } 
    80% {
        top: 100px;
    }
    90% {
        top:120px;
    }
    100% {
        top: 150px;
    }
}


#cactus {
    width: 20px;
    height: 40px;
    position: relative;
    top: 110px;
    left: 580px;

    background-image: url("../images/cactus.png");
    background-size: 20px 40px;
    animation: block 1.5s infinite linear;
}

@keyframes block {
    0% {
        left:580px;
    }
    100% {
        left:-10px;
    }
}
ul{list-style:none}


