$font-stack: Rajdhani, sans-serif;
$primary: cyan;
$secondary: yellow;
$tertiary: #f0f0f0;
$bg-color: #333333;

body {
    width: 100%;
    margin: auto;
    background-color: $bg-color;
    color: $tertiary;
    font-family: $font-stack;
    text-align: center;
}

h1, h2, h3, h4 {
    color: $primary;
}

h2 {
    a {
    color:$secondary;
    }
    a:hover {
        color:$tertiary;
    }
    a:active {
        color:lightgoldenrodyellow;
    }
}

.main-nav ul {
    list-style: none;
    display: flex;

    li {
        display: inline;
        list-style: none;
    }

    li a {
        background-color:$bg-color;
        border-radius:6px;
        color: $secondary;
        display: inline flex;
        text-decoration: none;
        padding: 10px 20px;
    }
    
    li a:hover {
        background-color:black;
        color: $primary;
    }
    li a:active {
        background-color:black;
        color: blue;
    }
}

.login-form {
    background-color:black;
    color:#f0f0f0;
    padding: 10px;
    margin: 5px auto;
    width: 40%;
    div {
        padding: 10px;
        
    }

    button {
        background-color:aqua;
        color: black;
    }
    button:hover {
        background-color:yellow;
    }
    button:active {
        background-color: yellowgreen;
    }
}

.signup-form {
    background-color:black;
    color:#f0f0f0;
    padding: 10px;
    margin: 5px auto;
    width:40%;
    div {
        padding: 10px;
        
    }

    button {
        background-color:aqua;
        color: black;
        border-color: #222222;
    }
    button:hover {
        background-color:yellow;
    }
    button:active {
        background-color: yellowgreen;
    }
}

