$font-stack: Helvetica, sans-serif;
$primary: cyan;
$secondary: yellow;
$tertiary: #f0f0f0;
$bg-color: #333333;

body {
    width: 100%;
    margin: auto;
    background-color: $bg-color;
    color: $tertiary;
    font-family: $font-stack;
    text-align: center;
}

h1, h2, h3, h4 {
    color: $primary;
}

.main-nav ul li a {
    background-color:$bg-color;
    border-radius:6px;
    color: $secondary;
    display: inline flex;
    text-decoration: none;
    padding: 10px 20px;
}

.main-nav ul li a:hover {
    background-color:black;
    color: $primary;
}
.main-nav ul li a:active {
    background-color:black;
    color: blue;
}