<section class="game-page">
    <head>
        <title>Dinos Are Birds! - Game</title>
                <link rel="stylesheet" href="/stylesheet/game.css" />
    </head>
                <div class="title">
            <h1>Dinos Are Birds.... RUN!!</h1>
        </div>
        <div class="game">
            <div id="dino"></div>
            <div id="cactus"></div>
        </div>
        <p>(press space to jump)</p>
        <div>
            <div>Top 10 Scores</div>
            <ul>
                <li id="score1">Bucky   18,000</li>
                <li id="score2">LilFoot   15,000</li>
                <li id="score3"></li>
            </ul>

    </div>
        <script src="/javascript/game.js"></script>
    </body>
</section>
