<section class="game">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dinos Are Birds! - Game</title>
        <div class="dino-demo">
            <img src="/images/dinodemo.png" alt="">
        </div>
    </head>
    <body>
        <div class="game">
            <div id="dino"></div>
            <div id="cactus"></div>
        </div>
    </body>
</section>