<section class="game-page">
    <head>
        <title>Dinos Are Birds! - Game</title>
                <link rel="stylesheet" href="/stylesheet/game.css" />
    </head>
                <div class="title">
            <h1>Dinos Are Birds.... RUN!!</h1>
        </div>
        <div id="user-id">{{user_id}}</div>
        <div class="game">
            <div id="dino"></div>
            <div id="cactus"></div>
        </div>
        <p>(press space to jump)</p>
        <div>
    </div>
        <script src="/javascript/game.js"></script>
    </body>
</section>
