<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Game Over! Try Again?</title>
        <div class="dino-demo">
            <img src="/images/gameover.png" alt="">
        </div>
    </head>
    <body>
        <div class="game">
            <div id="dino"></div>
            <div id="cactus"></div>
        </div>
    </body>
        <article id='tabs-3'>
            <div class="row">
                <div class="col-md-6">
                <h4>View High Scores</h4>
                    <p>See where you stand on the scoreboard and who are the top players.</p>
                </div>
            </div>
        </article>
</html>