
        <div class="dino-demo">
            <img src="/images/dinodemo.png" alt="">
        </div>
        <div class="game">
            <div id="dino"></div>
            <div id="cactus"></div>
        </div>
