<!-- ***** High Score Information ***** -->
<section class="section courses">
    <div id="user-id">{{user_id}}</div>
                    <div class="section-heading mb-0">
                        <h2 class="mt-4">Aim For The High Score Board!</h2>
                    </div>
<section class="scores">
    <link rel="stylesheet" href="/stylesheet/table.css">
    <link rel="stylesheet" href="/stylesheet/homepage.css">
<div class="row">
    <div class="column" >
        <table id="userTable">
            <tr>
                <th>{{username}}'s topscores</th>
            </tr>

        </table>
    </div>
    <div class="column">
        <table id="highTable">
            <tr>
                <th> </th>
                <th>username</th>
                <th>score</th>
            </tr>
        </table>
    </div>
</div>

    <script src="/javascript/scoretables.js"></script>
</section>