<form class="login-form">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>

<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div class="choose-avatar-div">
    <p>Choose an avatar for your profile:</p>
    <div id="choose-gamer1">
      <label for="gamer1"><img src="../public/images/GAMER1.png"></label>
      <input type="radio" name="choose-avatar" id="gamer1" value="1">
    </div>
    <div id="choose-gamer2">
      <label for="gamer2"><img src="../public/images/GAMER2.png"></label>
      <input type="radio" name="choose-avatar" id="gamer2" value="2">
    </div>
    <div id="choose-gamer3">
      <label for="gamer3"><img src="../public/images/GAMER3.png"></label>
      <input type="radio" name="choose-avatar" id="gamer3" value="3">
    </div>
    <div id="choose-gamer4">
      <label for="gamer4"><img src="../public/images/GAMER4.png"></label>
      <input type="radio" name="choose-avatar" id="gamer4" value="4">
    </div>
    <div id="choose-gamer5">
      <label for="gamer5"><img src="../public/images/GAMER5.png"></label>
      <input type="radio" name="choose-avatar" id="gamer5" value="5">
    </div>
    <div id="choose-gamer6">
      <label for="gamer6"><img src="../public/images/GAMER6.png"></label>
      <input type="radio" name="choose-avatar" id="gamer6" value="6">
    </div>
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>


<script src="/javascript/login.js"></script>