<section class="scores">
    <link rel="stylesheet" href="./stylesheet/table.css">
    <link rel="stylesheet" href="./stylesheet/homepage.css">
<div class="row">
    <div class="column" >
        <table id="userTable">
            <tr>
                <th>amhaag's topscores</th>
            </tr>

        </table>
    </div>
    <div class="column">
        <table id="highTable">
            <tr>
                <th> </th>
                <th>username</th>
                <th>score</th>
            </tr>
            <tr>
                <td><img id="avatar" src="./images/GAMER1.png" alt="avatar"></td>
                <td>Smith</td>
                <td>50</td>
            </tr>
            <tr>
                <td><img id="avatar" src="./images/GAMER2.png" alt="avatar"></td>
                <td>Jackson</td>
                <td>94</td>
            </tr>
            <tr>
                <td><img id="avatar" src="./images/GAMER3.png" alt="avatar"></td>
                <td>Johnson</td>
                <td>67</td>
            </tr>
        </table>
    </div>
</div>

    <script src="./javascript/scoretables.js"></script>
</section>