<div class="user-profile">

    <div class="profile-header">
        <h1 class="username">{{username}}</h1>
        <img src={{user-avatar}}/>
    </div>

    <div class="user-info">
        <div class="unlocked-items">{{unlocked-items}}</div>
        <p class="user-bio">{{user-bio}}</p>
    </div>
    
</div>